<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>編集画面</title>
</head>
<body>

	<table border="1">
		<tr>
			<th></th>
			<th>投稿内容</th>
			<th></th>
		</tr>
		<form th:method="put" action="/update" th:object="${formModel}">
			<tr>
				<td><text th:text="${formModel.id}"></text>
				<td><input type="text" name="content"
					th:value="${formModel.content}" size="20" maxlength="200" /></td>
				<td><input type="submit" value="更新"></td>
			</tr>
			<input type="hidden" name="createdDate" th:value="${formModel.createdDate}">
			<!--  <input type="hidden" name="updatedDate" th:value="${formModel.updatedDate}">-->
			<input type="hidden" name="id" th:value="${formModel.id}">
		</form>
	</table>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>