<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<div>
		<a href="/new"><button type="button">新規投稿</button> </a>
	</div>

	<div>
		<form action="/" method="get">
			日付絞込<input name="start" type="date" id="start" th:value="${start}">～
			<input name="end" type="date" id="start" th:value="${end}"> <input
				type="submit" value="絞込">
		</form>
	</div>
	<div th:each="content: ${contents}">
		●
		<text th:text="${content.id}"></text>
		<text th:text="${content.content}"></text>
		<br> 投稿日：
		<text
			th:text="${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')}"></text>
		更新日：
		<text
			th:text="${#dates.format(content.updatedDate, 'yyyy/MM/dd HH:mm:ss')}"></text>
		<table>
			<tr>
				<td><a th:href="@{/edit/{id}(id=${content.id})}">
						<button type="button">編集</button>
				</a></td>
				<td><a th:href="@{/newComment/{id}(id=${content.id})}">
						<button type="button">返信</button>
				</a></td>
				<td><form th:method="DELETE"
						th:action="@{/delete/{id}(id=${content.id})}">
						<input type="submit" value="削除">
					</form></td>
			</tr>
		</table>
		<div th:each="comment: ${comments}">
			<div th:if="${content.id} == ${comment.report_id}">
				・
				<text th:text="${comment.content}"></text>
				投稿日：
				<text
					th:text="${#dates.format(comment.created_date, 'yyyy/MM/dd HH:mm:ss')}"></text>
				更新日：
				<text
					th:text="${#dates.format(comment.updated_date, 'yyyy/MM/dd HH:mm:ss')}"></text>
				<table>
					<tr>
						<td><a th:href="@{/editComment/{id}(id=${comment.id})}">
								<button type="button">編集</button>
						</a></td>
						<td><form th:method="DELETE"
								th:action="@{/deleteComment/{id}(id=${comment.id})}">
								<input type="submit" value="削除">
							</form></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
